<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
  <!--  <add name="conexao" connectionString="@'Server= localhost;DataBase = db_exemplo; user = root; pwd = 1'"
      providerName="MySql.Data.MySqlClient" /> -->
    
   
 <add name="conexao" connectionString="server=Localhost;user id=root;password=12345678;database=db_exemplo" providerName="MySql.Data.MySqlClient"/> 
  </connectionStrings>
</configuration>
<!--DUVIDAS/ POSSÍVEIS ERROS???
    1- DEPOIS DE "ADD NAME", CHECAR SE CONNSOLE-11-03 É CONSOLE_11_03 (UNDERLINE INVÉS DE HÍFEN)
    2- EM CONNECTIONSTRING, VERIFICAR O USO DO @ E DOS '
-->
