@model IEnumerable<AppBancoDominio.Usuario>
@{ 
    ViewBag.Title = "Lista de Usuários";
}

<h2>Usuários Cadastrados </h2>
<ul>
    @foreach(var usuario in Model)
            {
                <li>@usuario.NomeUsu </li>
            }

</ul>